@import url(./fonts.css);

body{
    background-color: #243878 !important;
    overflow-x: hidden !important;
}

*{
    font-family: 'Merriweather-Regular', sans-serif;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    color: white !important ;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

p{
    color: white;
    margin-bottom: 0 !important;
}

h3{
    font-family: "Comfortaa-Bold";
    font-size: 48px !important;
    text-align: center;
}

/* SECTION NAVIGATION */

.section-navigation .container .middle p{
    font-family: 'Comfortaa-Bold', sans-serif;
    font-size: 20px;
}

.section-navigation .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-navigation .container .middle{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.knopka{
    border-radius: 10px;
    width: 20%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knopka button{
    font-family: 'Comfortaa-Regular', sans-serif;
    color: white;
    font-size: 20px;
    width: 98%;
    height: 100%;
    background-color: #009FE3;
    background-size: contain;
    border-radius: 30px;
    transition: .3s;
}

.knopka button:hover{
    background-color: #036B98;
    transition: .3s;
    cursor: pointer;
}

.section-navigation .container .middle a{
    transition: .6s;
}

.section-navigation .container .middle a:hover{
    border-bottom: 3px white solid;
    transition: .6s;
}

/* SECTION WELCOME */

.section-welcome{
    background-image: url(../img/fon.png);
    background-size: cover;
    padding: 5%;
}

.section-welcome .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-welcome .container .text{
    text-align: center;
}

.section-welcome .container .text h3{
    font-size: 48px;
    font-family: 'Comfortaa-Bold', sans-serif;
}

.section-welcome .container .text p{
    color: #009FE3 !important;
    font-size: 24px;
    font-family: 'Comfortaa-SemiBold', sans-serif;
}

.section-welcome .container .block .block-left p{
    font-size: 18px;
    letter-spacing: 2px;
}

.section-welcome .container .block{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    -webkit-margin-collapse: 100px;
}

.section-welcome .container .block .carousel-indicators{
    padding-bottom: 0%;
    display: flex;
    justify-content: space-evenly;
}

.section-welcome .container .block .carousel-indicators button{
    width: 30%;
    height: 20px;
    border-radius: 20px;
}

.section-welcome .container .block .carousel-indicators .active{
    background-color: #009FE3;
}

.section-welcome .container .block .block-left{
    width: 40%;
}

.section-welcome .container .block .block-left .knopka-blog{
    width: 50%;
    margin-top: 15%;
}

.section-welcome .container .block .slide{
    width: 40%;
}

/* SECTION RECCOMENDATION */

.section-recommendation{
    padding: 5%;
}

.section-recommendation .container .cards{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.section-recommendation .container .cards .card{
    height: 450px;
    width: 30% !important;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    border: 5px white solid;
}

.section-recommendation .container .cards .card img{
    width: 70%;
    margin-top: 5%;
}

.section-recommendation .container .cards .card .card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-recommendation .container .cards .card .card-body h5{
    font-size: 32px;
}

.section-recommendation .container .cards .card .card-body p{
    font-size: 16px;
}

.section-recommendation .container .cards .card .knopka-rec{
    width: 60%;
}

/* SECTION SERVICES */

.section-services{
    background-image: url(../img/services.svg);
    background-size: cover;
    padding: 5%;
}

.section-services .container .text{
    text-align: center;
}

.section-services .container .text p{
    font-family: "Comfortaa-SemiBold", sans-serif !important;
    font-size: 24px;
    color: #009FE3 !important;
}

.section-services .container .cards{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-services .container .cards .card li{
    border: none !important;
    background: none !important;
    padding-left: 0;
}

.section-services .container .cards .card{
    margin-top: 2%;
    width: 48% !important;
    border: none !important;
    background: none !important;
}

.section-services .container .cards .card .li-h3{
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 24px;
    color: #009FE3 !important;
    padding-top: 0;
    padding-bottom: 0;
}

.section-services .container .cards .card .li-p{
    font-size: 18px;
}