@import url(./fonts.css);

body {
    background-color: #243878 !important;
    overflow-x: hidden !important;
}

* {
    font-family: 'Merriweather-Regular', sans-serif;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    color: white !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

p {
    color: white;
    margin-bottom: 0 !important;
}

h3 {
    font-family: "Comfortaa-Bold";
    font-size: 48px !important;
    text-align: center;
}

.section {
    scroll-margin-top: 1em;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #243878;
    z-index: 999;
    background: rgba(36, 56, 120, 0.9);
}

nav .burger {
    display: none;
}

/* Java Script */

.section {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.8s ease-out, transform 0.7s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* SECTION NAVIGATION */

.section-navigation .container .middle p {
    font-family: 'Comfortaa-Bold', sans-serif;
    font-size: 20px;
}

.section-navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-navigation .container .middle {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.knopka {
    border-radius: 10px;
    width: 20%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.knopka button {
    font-family: 'Comfortaa-Regular', sans-serif;
    color: white;
    font-size: 20px;
    width: 98%;
    height: 100%;
    background-color: #009FE3;
    background-size: contain;
    border-radius: 30px;
    transition: .3s;
}

.knopka button:hover {
    background-color: #036B98;
    transition: .3s;
    cursor: pointer;
}

.section-navigation .container .middle a {
    transition: .6s;
}

.section-navigation .container .middle a:hover {
    border-bottom: 3px white solid;
    transition: .6s;
}

/* SECTION WELCOME */

.section-welcome {
    background-image: url(../img/fon.png);
    background-size: cover;
    padding: 5%;
}

.section-welcome .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-welcome .container .text {
    text-align: center;
}

.section-welcome .container .text h3 {
    font-size: 48px;
    font-family: 'Comfortaa-Bold', sans-serif;
}

.section-welcome .container .text p {
    color: #009FE3 !important;
    font-size: 24px;
    font-family: 'Comfortaa-SemiBold', sans-serif;
}

.section-welcome .container .block .block-left p {
    font-size: 18px;
    letter-spacing: 2px;
}

.section-welcome .container .block {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    -webkit-margin-collapse: 100px;
}

.section-welcome .container .block .carousel-indicators {
    padding-bottom: 0%;
    display: flex;
    justify-content: space-evenly;
}

.section-welcome .container .block .carousel-indicators button {
    width: 30%;
    height: 20px;
    border-radius: 20px;
}

.section-welcome .container .block .carousel-indicators .active {
    background-color: #009FE3;
}

.section-welcome .container .block .block-left {
    width: 40%;
}

.section-welcome .container .block .block-left .knopka-blog {
    width: 50%;
    margin-top: 15%;
}

.section-welcome .container .block .slide {
    width: 40%;
}

/* SECTION RECCOMENDATION */

.section-recommendation {
    padding: 5%;
}

.section-recommendation .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-recommendation .container .slide {
    width: 100%;
}

.section-recommendation .container .slide .carousel-item .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.section-recommendation .container .slide .carousel-control-prev {
    margin-left: -15%;
}

.section-recommendation .container .slide .carousel-control-next {
    margin-right: -15%;
}

.section-recommendation .container .slide .cards .card {
    height: 450px;
    width: 30% !important;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    border: 5px white solid;
}

.section-recommendation .container .slide .card img {
    width: 70%;
    margin-top: 5%;
}

.section-recommendation .container .slide .card .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-recommendation .container .slide .card .card-body h5 {
    font-size: 32px;
}

.section-recommendation .container .slide .card .card-body p {
    font-size: 16px;
}

.section-recommendation .container .slide .card .knopka-rec {
    width: 60%;
}

/* SECTION SERVICES */

.section-services {
    background-image: url(../img/services.svg);
    background-size: cover;
    padding: 5%;
}

.section-services .container .text {
    text-align: center;
}

.section-services .container .text p {
    font-family: "Comfortaa-SemiBold", sans-serif !important;
    font-size: 24px;
    color: #009FE3 !important;
}

.section-services .container .cards {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-services .container .cards .card li {
    border: none !important;
    background: none !important;
    padding-left: 0;
}

.section-services .container .cards .card {
    margin-top: 2%;
    width: 48% !important;
    border: none !important;
    background: none !important;
}

.section-services .container .cards .card .li-h3 {
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 24px;
    color: #009FE3 !important;
    padding-top: 0;
    padding-bottom: 0;
}

.section-services .container .cards .card .li-p {
    font-size: 18px;
}

/* SECTION EVENTS */

.section-events {
    padding: 5%;
    background-color: #0F2466;
}

.section-events .container .cards {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.section-events .container .cards .card {
    background: none;
    border: 5px white solid;
    border-radius: 30px !important;
    margin-top: 2%;
}

.section-events .container .cards .card .col-md-4 h4 {
    font-size: 48px;
    font-family: 'Merriweather-Bold';
    color: #009FE3 !important;
}

.section-events .container .cards .card .col-md-4 h5 {
    font-size: 40px;
    font-family: 'Merriweather-Bold';
    color: #009FE3 !important;
}

.section-events .container .cards .card .col-md-4 {
    border-right: 5px white solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-events .container .cards .card .col-md-8 h5 {
    font-size: 22px;
    font-family: 'Merriweather-Bold';
    color: #009FE3 !important;
}

.section-events .container .cards .card .col-md-8 p {
    font-size: 15px;
    font-family: 'Merriweather-Regular';
}

.knopka-event {
    width: 50%;
    height: 40px;
    margin-top: 5%;
}

.section-events .container .cards .card .col-md-8 .knopka-event button {
    font-size: 14px !important;
}

/* FOOTER */

footer {
    padding: 3%;
    border-top: 10px white solid;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .text {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer .container .text {
    font-size: 14px;
}

footer .container .icons {
    display: flex;
    justify-content: space-between;
    width: 10%;
}



/* АДАПТИВ */

@media (max-width: 1500px) {
    .container {
        width: 1440px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1140px;
    }

    .section-navigation .container .middle p {
        font-size: 18px;
    }

    h3 {
        font-size: 32px !important;
    }

    .section-welcome .container .text p {
        font-size: 20px;
    }

    .section-services .container .text p {
        font-size: 20px;
    }

    .section-welcome .container .block .block-left p {
        font-size: 14px;
    }

    .section-welcome .container .block .carousel-indicators {
        padding-bottom: 20%;
    }

    .section-recommendation .container .slide .card .card-body h5 {
        font-size: 26px;
    }

    .knopka-rec button {
        font-size: 16px;
    }

    .section-recommendation .container .slide .cards .card {
        height: 400px;
    }

    .section-recommendation .container .slide .carousel-control-next {
        margin-right: -12%;
    }

    .section-recommendation .container .slide .carousel-control-prev {
        margin-left: -12%;
    }

    .section-services .container .cards .card .li-h3 {
        font-size: 20px;
    }

    .section-services .container .cards .card .li-p {
        font-size: 14px;
    }

    footer .container .text p {
        font-size: 14px !important;
    }

    footer .container .icons {
        width: 15%;
    }
}

@media (max-width: 992px) {
    .container {
        width: 960px;
    }

    nav .container {
        display: none !important;
    }

    nav .burger {
        display: block;
    }

    .navbar-toggler {
        background-size: cover !important;
        border: transparent !important;
        justify-self: end;
        width: 20%;
    }

    .navbar-toggler img {
        width: 100%;
    }

    .container-fluid {
        justify-content: space-between !important;
        align-items: start;
    }

    .btn-close {
        background-size: cover !important;
        width: 40px !important;
        height: 40px !important;
        position: relative;
        right: 70px;
        top: 50px;
        --bs-btn-close-opacity: 1 !important;
        --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F87932'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e !important) !important;
        filter: invert(1);
    }

    .burger a {
        font-size: 24px;
        text-decoration: underline !important;
        font-family: "Comfortaa-Bold", sans-serif;
    }

    .offcanvas-end {
        background-color: #243878 !important;
    }

    .offcanvas-body {
        background-color: #243878;
    }

    h3 {
        font-size: 26px !important;
    }

    .section-welcome .container .text p {
        font-size: 16px;
    }

    .section-services .container .text p {
        font-size: 16px;
    }

    .section-welcome .container .block .block-left p {
        font-size: 12px;
    }

    .knopka-blog button {
        font-size: 14px;
    }

    .section-welcome .container .block .carousel-indicators {
        padding-bottom: 50%;
    }

    .section-recommendation .container .slide .cards .card {
        height: 300px;
    }

    .section-recommendation .container .slide .card .card-body h5 {
        font-size: 22px;
    }

    .section-recommendation .container .slide .card .card-body p {
        font-size: 14px;
    }

    .knopka-rec button {
        font-size: 14px;
    }

    .section-recommendation .container .slide .carousel-control-next {
        margin-right: -12%;
        margin-left: 0 !important;
    }

    .section-services .container .cards .card img {
        width: 30px;
        height: 30px;
    }

    .section-services .container .cards .card .li-h3 {
        font-size: 18px;
    }

    .section-services .container .cards .card .li-p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 98%;
    }

    .section {
        padding: 10%;
    }

    h3 {
        font-size: 22px !important;
    }

    .section-welcome .container .text p {
        font-size: 12px !important;
    }

    .section-welcome .container .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .section-welcome .container .block .block-left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .section-welcome .container .block .block-left p {
        width: 60%;
        font-size: 10px;
    }

    .section-welcome .container .block .carousel-indicators {
        padding-bottom: 0;
        margin-bottom: -15%;
    }

    .section-welcome .container .block .slide {
        margin-top: 5%;
        width: 70%;
    }

    .section-recommendation .container .slide .cards .card {
        height: 200px;
    }

    .section-recommendation .container .slide .card .card-body h5 {
        font-size: 13px;
    }

    .section-recommendation .container .slide .card .card-body p {
        font-size: 8px;
    }

    .knopka-rec {
        height: 30%;
        width: 90% !important;
    }

    .knopka-rec button {
        font-size: 10px !important;
    }

    .section-services .container .text p {
        font-size: 12px;
    }

    .section-services .container .cards .card .li-h3 {
        font-size: 15px;
    }

    .section-events .container .cards .card .col-md-4 {
        border-right: none;
        border-bottom: 5px white solid;
    }

    .section-events .container .cards .card .col-md-4 h4 {
        font-size: 34px;
    }

    .section-events .container .cards .card .col-md-4 h5 {
        font-size: 30px;
    }

    .section-events .container .cards .card .col-md-8 h5 {
        font-size: 18px;
    }

    footer .container .text p {
        font-size: 12px !important;
    }

    footer .container .icons img {
        width: 20px;
        height: 20px;
    }

    footer .logo {
        width: 75px;
        height: 75px;
    }

    .burger a {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 98%;
    }

    .section-welcome .container .block .block-left p {
        font-size: 8px;
    }

    .knopka-rec button {
        font-size: 8px !important;
    }

    footer .container .text p {
        font-size: 10px !important;
    }

    .offcanvas {
        width: 70% !important;
    }

    .section-events .container .cards .card .col-md-8 .knopka-event button {
        font-size: 12px !important;
    }

    footer .container .text p {
        font-size: 8px !important;
    }

    footer .container .icons {
        width: 20%;
    }
}



@media (max-width: 480px) {
    .container {
        width: 98%;
    }
}